<div class="page-header">
  <h3>Review Photo #<%= @review_photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Review</dt>
      <dd><%= @review_photo.review_id %></dd>

      <dt>Photo</dt>
      <dd><%= @review_photo.photo %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/review_photos" class="btn btn-primary">
        Back
      </a>
      <a href="/review_photos/<%= @review_photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review_photo/<%= @review_photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
